<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :prod_type, collection: [ 'Pistol', 'Rifle', 'Rimfire', 'Shotgun' ], prompt: "Select Type", label: 'Product Type' %>
    <%= f.input :caliber %>
    <%= f.input :grade, collection: [ 'Value', 'Defense', 'Match' ], prompt: 'Select Grade' %>
    <%= f.input :bullet_weight %>
    <%= f.input :cost_per_round %>
    <%= f.input :price_per_round %>
    <%= f.input :rounds_per_box %>
    <%= f.input :description %>
    <%= f.input :weight_per_round %>
    <%= f.input :brand %>
    <%= f.input :sku %>
    <%= f.input :quantity_avail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
