<div class="container">
  <div class="row">
    <header>
      <h1 class="text-center">Start Accumulating</h1>
      <div class="timeline text-center">
        <hr>
        <div class="step-image">
          <h4>Step 1</h4>
        </div>
        <div class="step-image">
          <h4>Step 2</h4>
        </div>
        <div class="step-image step-active">
          <h4>Step 3</h4>
        </div>
      </div>
    </header>
  </div>

  <div id="profileBody" class="row">
    <div class="orderdetails">
      <ul>

        <li><h3>Estimated monthly shipping to: { zipcode }</h3></li>
        <li><h3>Estimated monthly contribution: { contribution total }</h3></li>
        <li></li>
      </ul>
    </div>
    <div id="leftside" class="col-md-12">
      <div class="row">
        <%= simple_form_for(@profile) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div id="personal" class="col-md-6">
              <h3>Personal Info:</h3>
              <%= f.input :firstname, label: false, placeholder: 'First Name'%>
              <%= f.input :lastname, label: false, placeholder: 'Last Name' %>
              <%= f.input :phone_number, label: false, placeholder: 'Phone Number XXX-XXX-XXXX', as: :tel %>
              <%= f.input :street1,label: false, placeholder: 'Address' %>
              <%= f.input :street2, label: false, placeholder: 'Address 2' %>
              <%= f.input :city,label: false, placeholder: 'City' %>
              <%= f.input :state, label: false, placeholder: 'State' %>
              <%= f.input :zip, label: false, placeholder: 'Zip' %>
              <%= f.input :restricted %>
              <p>Placeholder for ID upload</p>
            </div>
            <div id="billing" class="col-md-6">
              <h3>Billing Info:</h3>
              <%= f.input :billing_street1, label: false, placeholder: 'Billing Address' %>
              <%= f.input :billing_street2, label: false, placeholder: 'Billing Address 2' %>
              <%= f.input :billing_city, label: false, placeholder: 'City' %>
              <%= f.input :billing_state, label: false, placeholder: 'State' %>
              <%= f.input :billing_zip, label: false, placeholder: 'Zip' %>
              <h3>Payment info:</h3>
              <%= f.input :interval, label: "I would like delivery every:", collection: 1..12, prompt: '# of Months' %>
              <%= f.input :start_date %>
              <div class="form-group">
                <div class="col-md-12">
                <div class="checkbox">
                  <label for="terms-0">
                    <input type="checkbox" name="terms" id="terms-0" value="1">
                    I agree to the terms and conditions
                  </label>
                </div>
                </div>
              </div>

            </div>
          </div>



      </div>
    </div>

    <div id="rightside" class="col-md-12">
      <div class="tablewrap">
        <h3>Your monthly accumulation:</h3>
        <%= render 'items', item: @order_items %>
      </div>

      <div class="cta col-md-12">
        <h3>Submit to start your subscription now</h3>

        <div class="form-actions">
          <%= f.submit 'Start Now', class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<footer>
</footer>
