<!DOCTYPE html>
<html>
  <head>
    <title>AmmoSquared</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="wrapper">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <!-- <%= debug(params) if Rails.env.development? %>
      <%= params.to_yaml %> -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
